---
import Layout from '@/layouts/Layout.astro'
import AdminDashboard from '@/components/AdminDashboard.astro'
---

<Layout title="Admin">
  <section class="py-16">
    <AdminDashboard />
  </section>
</Layout>
