---
import StampsCard from '@/components/StampsCard.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Stamps">
  <section class="relative min-h-dvh pt-32 pb-16">
    <div class="container">
      <div class="max-w-xl mx-auto">
        <StampsCard />
      </div>
    </div>
  </section>
</Layout>
