<header
  class="fixed w-full inset-x-0 top-0 bg-white border-b border-black py-4 z-10"
>
  <div class="container flex items-center justify-between gap-6">
    <a href="/">
      <svg class="w-20" viewBox="0 0 335.87 146.93">
        <path
          d="M284.46,33.12c1.02.94.84,2.24.48,3.45-1.13,3.78-6.44,11.54-8.84,15.22-14.05,21.6-30.94,41.78-47.89,61.11l-.51,10.98c7.29-6.88,33.38-37.51,42.41-36.99,2.84.16,6.22,3.88,6.59,6.57.56,4.06-10.08,14.67-12.82,19.1s-6.57,9.89-4.05,15.17c3.38,2.14,17.99-6.68,19.9-9.31,1.37-1.88,2.63-7.99,4.53-11.47,6.66-12.19,26.53-29.82,41.26-21.93l-.85,6.83c2.25.39,3.89.52,4.57,2.93,2.4,8.53-2.65,19.22-6.56,26.56,2.78,5.39,12.08-4.54,13-3.47,1.49,5.8-6.34,10.97-11.17,12.32-2.65.74-5.7.26-7.81,1.19-2.3,1.02-7.7,8.22-11.68,10.32-14.06,7.44-21.56-4.2-24.36-16.33-.28-1.19.75-1.81-1.46-1.5-6.01,5.5-20.79,23.16-29.54,20.58-9.24-2.72-1.19-22.08,2.5-27.61l8.03-13.97c-4.68,3.23-8.56,6.37-12.53,10.47-7.28,7.5-14.51,19.94-21.56,26.44-8.16,7.52-10.74-9.11-10.43-14.91-16.02,17.33-43.24,38.97-50,1-7.1,7.82-25.64,28.69-35.44,13.95-10.74-16.15-.46-40.61,14.12-50.77,14.81-10.32,17.97.36,8.76,12.76-4.44,5.97-20.14,15.92-14.5,24.64,5.24,8.11,21.01-1.47,25.6-6.54,1.64-1.81,2.65-6.84,4.27-9.73,4.21-7.49,24.76-26.38,32.91-28.08,22.95-4.78,4.26,27.49-3.2,26.84-4.42-.38-.41-4.44-3.02-6.05-4.64,3.47-17.34,10.44-19.06,15.92-3.57,11.4,6.57,17.16,16.82,13.83,3.41-1.11,22.04-11.79,23.45-14.05.8-1.27,1.46-6.55,2.52-8.99,7.66-17.59,33.01-52.13,46.25-66.75,3.78-4.18,13.18-15.38,19.29-9.74ZM310.57,126.72c-.73-4.72-1.4-9.28-.64-14.1.98-6.17,5.55-12.04,7.75-17.74-8,5.2-20.82,11.77-24.47,21.02-7.43,18.85,4.16,20.29,17.36,10.82Z"
          fill="currentColor"></path>
        <path
          d="M75.69,59.89l33.77,4.71c18.53,5.38,21.91,20.55,13.02,36.58-17.32,31.23-80.27,46.3-112.62,38.02-18.75-4.8-6.05-21.88-.35-32.99,11.31-22.05,26.21-48.34,40.76-68.24,2.43-3.32,10.07-10.92,11.26-13.74.48-1.14.67-2.87-1.23-2.25l-15.14,6.56c-11.39-8.26-.06-11.35,7.86-14.82C71.42,5.64,114.38-5.74,132.7,3.37c4.46,2.22,7.87,6.96,8.03,12.04.78,23.9-46.09,40.48-65.04,44.48ZM53.69,60.87c7.67-2.22,15.29-4.76,22.68-7.81,11.58-4.8,41.64-18.52,42.26-32.76.53-12.06-23.58-10.58-30.46-6.44-3.11,1.87-16.24,19.54-19.29,23.71-5.44,7.44-10.76,15.2-15.18,23.31ZM67.48,69.17c-3.41.22-19.5,2.07-21.31,3.69-2.84,6.84-26.96,50.03-26.35,53.38,1.24,6.79,26.99,3.26,32.06,2.34,18.04-3.29,46.17-15.51,52.98-34.02,8.91-24.23-20.63-26.49-37.39-25.39Z"
          fill="currentColor"></path>
        <path
          d="M164.4,61.08c14.69-3.31,6.09,20.9-5,17.6-8.02-2.38-1.65-16.1,5-17.6Z"
          fill="currentColor"></path>
      </svg>
    </a>

    <ul class="flex items-center gap-4">
      <li class="hidden" data-logout-wrapper>
        <button
          class="font-normal hover:underline underline-offset-2"
          data-logout>Cerrar sesión</button
        >
      </li>
      <li>
        <a
          href="https://www.instagram.com/bichospecialtycoffee/"
          target="_blank"
        >
          <svg class="w-8" viewBox="0 0 48 48" fill="none">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M24 0C10.7452 0 0 10.7452 0 24C0 37.2548 10.7452 48 24 48C37.2548 48 48 37.2548 48 24C48 10.7452 37.2548 0 24 0ZM18.7235 11.2773C20.0888 11.2152 20.5251 11.2 24.0014 11.2H23.9974C27.4748 11.2 27.9094 11.2152 29.2748 11.2773C30.6375 11.3397 31.5681 11.5555 32.3841 11.872C33.2268 12.1987 33.9388 12.636 34.6508 13.348C35.3628 14.0595 35.8002 14.7736 36.1282 15.6155C36.4429 16.4294 36.6589 17.3595 36.7229 18.7222C36.7842 20.0876 36.8002 20.5238 36.8002 24.0001C36.8002 27.4764 36.7842 27.9116 36.7229 29.277C36.6589 30.6391 36.4429 31.5695 36.1282 32.3837C35.8002 33.2253 35.3628 33.9394 34.6508 34.6509C33.9396 35.3629 33.2266 35.8013 32.3849 36.1283C31.5705 36.4448 30.6393 36.6605 29.2766 36.7229C27.9113 36.7851 27.4764 36.8003 23.9998 36.8003C20.5238 36.8003 20.0878 36.7851 18.7224 36.7229C17.36 36.6605 16.4296 36.4448 15.6152 36.1283C14.7738 35.8013 14.0597 35.3629 13.3485 34.6509C12.6367 33.9394 12.1994 33.2253 11.8722 32.3834C11.5559 31.5695 11.3402 30.6394 11.2775 29.2767C11.2157 27.9114 11.2002 27.4764 11.2002 24.0001C11.2002 20.5238 11.2162 20.0873 11.2773 18.7219C11.3386 17.3598 11.5546 16.4294 11.8719 15.6152C12.1999 14.7736 12.6373 14.0595 13.3493 13.348C14.0608 12.6363 14.7749 12.1989 15.6168 11.872C16.4306 11.5555 17.3608 11.3397 18.7235 11.2773Z"
              fill="currentColor"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M22.853 13.5067C23.0759 13.5064 23.3158 13.5065 23.5746 13.5066L24.0013 13.5067C27.4189 13.5067 27.824 13.519 29.1736 13.5803C30.4216 13.6374 31.0989 13.8459 31.5501 14.0211C32.1475 14.2531 32.5733 14.5305 33.0211 14.9785C33.4691 15.4265 33.7464 15.8532 33.979 16.4505C34.1542 16.9012 34.363 17.5785 34.4198 18.8265C34.4811 20.1759 34.4944 20.5812 34.4944 23.9972C34.4944 27.4133 34.4811 27.8186 34.4198 29.168C34.3627 30.416 34.1542 31.0933 33.979 31.544C33.747 32.1413 33.4691 32.5667 33.0211 33.0144C32.5731 33.4624 32.1477 33.7398 31.5501 33.9718C31.0995 34.1478 30.4216 34.3558 29.1736 34.4128C27.8242 34.4742 27.4189 34.4875 24.0013 34.4875C20.5834 34.4875 20.1783 34.4742 18.8289 34.4128C17.5809 34.3552 16.9036 34.1467 16.4521 33.9715C15.8548 33.7395 15.4281 33.4621 14.9801 33.0141C14.5321 32.5661 14.2548 32.1405 14.0222 31.5429C13.847 31.0923 13.6382 30.4149 13.5814 29.1669C13.5201 27.8176 13.5078 27.4122 13.5078 23.994C13.5078 20.5759 13.5201 20.1727 13.5814 18.8233C13.6385 17.5753 13.847 16.898 14.0222 16.4468C14.2542 15.8494 14.5321 15.4228 14.9801 14.9748C15.4281 14.5268 15.8548 14.2494 16.4521 14.0169C16.9033 13.8409 17.5809 13.6329 18.8289 13.5755C20.0097 13.5222 20.4674 13.5062 22.853 13.5035V13.5067ZM30.8339 15.6321C29.9859 15.6321 29.2978 16.3193 29.2978 17.1676C29.2978 18.0156 29.9859 18.7036 30.8339 18.7036C31.6819 18.7036 32.3699 18.0156 32.3699 17.1676C32.3699 16.3196 31.6819 15.6316 30.8339 15.6316V15.6321ZM17.4277 24.0002C17.4277 20.3701 20.3708 17.4269 24.0009 17.4268C27.631 17.4268 30.5735 20.37 30.5735 24.0002C30.5735 27.6304 27.6313 30.5723 24.0011 30.5723C20.371 30.5723 17.4277 27.6304 17.4277 24.0002Z"
              fill="currentColor"></path>
            <path
              d="M24.0011 19.7334C26.3574 19.7334 28.2678 21.6436 28.2678 24.0001C28.2678 26.3564 26.3574 28.2668 24.0011 28.2668C21.6445 28.2668 19.7344 26.3564 19.7344 24.0001C19.7344 21.6436 21.6445 19.7334 24.0011 19.7334Z"
              fill="currentColor"></path>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.tiktok.com/@bicho.specialty.coffee"
          target="_blank"
        >
          <svg class="w-8" viewBox="0 0 48 48" fill="none">
            <path
              d="M24 48C37.2548 48 48 37.2548 48 24C48 10.7452 37.2548 0 24 0C10.7452 0 0 10.7452 0 24C0 37.2548 10.7452 48 24 48Z"
              fill="currentColor"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M28.7895 13C28.7895 13.324 28.8198 13.6431 28.8755 13.952C29.1437 15.3796 29.9886 16.6048 31.1622 17.3692C31.9817 17.9058 32.9529 18.2147 34 18.2147L33.9998 19.05V21.9611C32.0573 21.9611 30.2565 21.3384 28.7894 20.2853V27.9048C28.7894 31.707 25.6937 34.8055 21.8948 34.8055C20.4278 34.8055 19.0619 34.3396 17.9439 33.5548C16.1634 32.3043 15 30.2387 15 27.9048C15 24.0976 18.0908 21.0043 21.8897 21.0093C22.2084 21.0093 22.517 21.0346 22.8205 21.0752V21.9611L22.8094 21.9664L22.8204 21.9662V24.9026C22.5271 24.8115 22.2134 24.7558 21.8897 24.7558C20.1546 24.7558 18.7433 26.1683 18.7433 27.9048C18.7433 29.1149 19.4312 30.1628 20.4328 30.6945C20.4477 30.7147 20.4627 30.7349 20.478 30.7548C20.4665 30.7326 20.4532 30.7107 20.4379 30.6894C20.878 30.9223 21.3737 31.0539 21.8998 31.0539C23.5944 31.0539 24.9805 29.7022 25.0411 28.0213L25.0462 13H28.7895Z"
              fill="white"></path>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/profile.php?id=61557346734765"
          target="_blank"
        >
          <svg class="w-8" viewBox="0 0 48 48" fill="none">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M24 0C10.7452 0 0 10.7452 0 24C0 37.2548 10.7452 48 24 48C37.2548 48 48 37.2548 48 24C48 10.7452 37.2548 0 24 0ZM26.5019 25.0542V38.1115H21.0995V25.0547H18.4004V20.5551H21.0995V17.8536C21.0995 14.1828 22.6235 12 26.9536 12H30.5585V16.5001H28.3052C26.6196 16.5001 26.5081 17.1289 26.5081 18.3025L26.5019 20.5546H30.584L30.1063 25.0542H26.5019Z"
              fill="currentColor"></path>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>

<script>
  import { auth } from '@/firebase-config'
  import { onAuthStateChanged, signOut } from 'firebase/auth'

  const logoutWrapper = document.querySelector(
    '[data-logout-wrapper]'
  ) as HTMLLIElement
  const logoutButton = document.querySelector(
    '[data-logout]'
  ) as HTMLButtonElement

  onAuthStateChanged(auth, (user) => {
    if (!user) {
      logoutWrapper.classList.add('hidden')
    } else {
      logoutWrapper.classList.remove('hidden')
      logoutButton.addEventListener('click', async () => {
        try {
          await signOut(auth)
          window.location.href = '/'
        } catch (error) {
          console.error('Error al cerrar sesión:', error)
        }
      })
    }
  })
</script>
