---
import Header from '@/components/Header.astro'
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

  @font-face {
    font-family: 'Reckless';
    src:
      url('/fonts/Reckless-Light.woff2') format('woff2'),
      url('/fonts/Reckless-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Reckless';
    src:
      url('/fonts/Reckless-Regular.woff2') format('woff2'),
      url('/fonts/Reckless-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  body {
    @apply text-black font-light;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance font-serif;
  }

  p {
    @apply text-pretty;
  }
</style>
